<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
  <title>I AM ROOT</title>
  <link rel="icon" href="/favicon.svg" />
  <style>
    #footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 3rem;            /* Footer height */
    }
  </style>
</head>

<body>
    <h1 > 🙍Pavan Bhat</h1>
    <a href="/"> [ HOME ]</a>
    <a href="/links"> [ LINKS ]</a>
    <a href="/blogs"> [ BLOG ]</a>
    <hr>
  <section class="section">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </section>
  <footer id="footer">
      <hr>
      Made with zola by  <b>🧠 Pavan Bhat ©</b> All rights reserved 2021
  </footer>
</body>

</html>
