{% extends "base.html" %}

{% block content %}
<p align='justify'>GitLab : <a href="https://gitlab.com/pavanbhat1999" target="_blank"> https://gitlab.com/pavanbhat1999 </a></p>
<p align='justify'>GitHub : <a href="https://github.com/pavanbhat1999" target="_blank"> https://github.com/pavanbhat1999 </a></p>
<p align='justify'>Reddit : <a href="https://www.reddit.com/user/Final_Chip860" target="_blank"> https://www.reddit.com/user/Final_Chip860 </a></p>
{% endblock content %}

